<div class="dateForm">
  <form (ngSubmit)="parseDate()" #dateForm="ngForm">
    <label for="name">Pattern</label>
    <input type="text" class="form-control" [(ngModel)]="pattern" name="pattern" required>
    <label for="name">Date To Parse</label>
    <input type="text" class="form-control" [(ngModel)]="dateToParse" name="dateToParse" required>

    <button type="submit" class="btn btn-success" [disabled]="!dateForm.form.valid">Save</button>
  </form>
</div>
<app-date-result></app-date-result>
